[2013-08-29 22:49] piojo-zz opened #2 "CAF::FileWriter doesn't show the diff under --noaction"
The `diff` object is not created with `keeps_state => 1`, so `diff` is not executed.

Thanks to @satrac for reporting it.

[2013-08-30 08:26] #2 closed, assigned to nobody

[2013-09-11 13:56] msmark opened #4 "CAF::FileWriter /sbin/restorecon error on Solaris"
It seems I can’t use `CAF::FileWriter` on Solaris without getting:

`(proc): exec(/sbin/restorecon, <filename>): No such file or directory`

The problem is this line:

[code]

It’s a harmless error but nonetheless ought to be fixed.

I suggest this is improved to test for the presence of the executable before attempting to execute it.

[2013-09-14 11:05] #4 closed, assigned to piojo

[2013-09-14 11:12] ned21 opened #6 "CAF::Lock does an unlock() in its DESTROY method"
During the installation of a rhel5 system, we get the following error:

[ERROR] cannot release lock file: /var/lock/quattor/ncm-ncd

This occurs a lot (at least once for every component it seems, maybe
more. Nothing goes wrong though.

Gabor tracked this down to the following:

[2013-09-26 15:44] #6 closed, assigned to piojo

[2014-02-02 11:26] piojo-zz opened #10 "Make CAF::FileWriter record which files are being opened/"owned" by Quattor"
`CAF::FileWriter` could track which files it is opening. This way we could get a clear trace of which files are "owned" by Quattor, and therefore a clean-up infrastructure could be provided.

[2014-03-20 10:09] stdweird opened #13 "Deal with service/daemon actions"
I propose to create a new `CAF::Service` that implements a bunch of common methods for dealing with services / daemons/... across various OSes.

Required methods:
- stop
- start
- restart: restart the daemon
- restart via stop, sleep $interval, start
- status : check the current state
- reload ?

In particular we need a naming scheme (module and sub names), and a proposal how to deal with the vari

[2014-03-23 00:30] dvandok opened #14 "stopping nscd fails"
We regulary see ncsd restart problems when reconfiguring nodes. A sample of the output is below. After the failure nscd is not running.

Running 'service stop nscd' on the command-line returns [ OK ] and a subsequent call to ncm-ncd --co authconfig succeeds.

[code]

[2014-03-24 11:04] #14 closed, assigned to nobody

[2014-05-02 15:46] dzila opened #16 "perl-CAF dependencies in 14.4.0-rc* and 14.5.0-rc*"
Hi,

I canot install 14.4.0-rc1 perl-CAF in an sl6 system the error I get is:

2014/05/02-16:28:52 [ERROR] Failed synchronisation with upstream: Error: Package: perl-CAF-14.4.0-rc1_1.noarch (quattor-14.4.0-rc1)
           Requires: perl(List::MoreUtils) >= 0.33
           Available: perl-List-MoreUtils-0.22-10.el6.x86_64 (sl640_x86_64)
               perl(List::MoreUtils) = 0.22
           Availab

[2014-06-08 19:55] jouvin opened #20 "ReporterMany.pm uniinitialized value if there is a dependency error"
After a ncm-spma error leading to a failed dependency for other components, the following error is raised by all components trying to run:

[code]

[2014-06-23 16:38] #16 closed, assigned to nobody

[2014-06-25 12:01] jrha opened #22 "No LICENSE"

[2014-07-02 07:24] jouvin opened #23 "CAF::Process: add a getCommand() and method"
It would be handy to have a getCommand() method that returns the contents of the array containing the command and its options as an array or a string, depending of the calling context. The string version would be build by joining all elements with space. The idea is to avoid having to build a temporary array with the command and its args if you want to be able for example to print them before exec

[2014-07-08 17:04] jouvin opened #24 "FileEditor: why is IO_SEEK_BEGIN/END not exported?"
Even if of limited use, you can imagine use cases for using FileEditor (in order to read the content of an existing file), build a new content as an array based on the previous contents (but not throught the FileEditor methods to do complex things) and use set_contents to update the content. Under these circumstances, it would be handy to be able to use IO_SEEK_END after set_contents, as done by t

[2014-07-11 09:28] NZJourneyMan opened #25 "CAF::Process doesn't set stdout under --noaction"
When running normally stdout is at least set to an empty string, when running under `--noaction` it is left undef which can  cause "Use of uninitialized value" errors. The handling of this difference should be handled within the API and not left as an exercise for the consumer of the API. I assume the situation with stderr will be the same.

[2014-07-17 19:01] stdweird opened #26 "add seek_begin and seek_end method to FileEditor"

[2014-07-18 17:47] #26 closed, assigned to stdweird

[2014-07-18 19:05] #24 closed, assigned to nobody

[2014-07-21 06:41] jouvin opened #29 "debug should imply verbose"
As currently implemented (since the origin!), debug and verbose are completely independant. IMO, this is a non optimal behaviour as some components display a lot of useful information for debugging with verbose() and when you use `--debug` you don't see it.
I'd like to propose a change where setting any debug level would also set verbose. This would not implact the behaviour with `--verbose` only

[2014-07-21 17:05] #10 closed, assigned to piojo

[2014-07-22 14:19] #29 closed, assigned to nobody

[2014-07-23 05:55] jouvin opened #32 "Reporter: multiline messages transformed as oneliner in syslog"
This issue is a follow-up for https://github.com/quattor/ncm-cdispd/issues/2. `CAF::Reporter` logs messages to syslog by calling Sys::Syslog with the array of string. It seems that in this case syslog removes the `\n` that may be present at the end of each string (as in the `ncm-ncd` output). Do we need to do a join like in `report()` before passing the argument to syslog? Or do we need to do mult

[2014-07-23 06:00] jouvin opened #33 "CAF::Application: open option file with CAF::FileEditor"
Currently the option file seems to be open directly with an `open()` call. Would it be possible to open it with `FileEditor` instead so that we could mock the location of the option file in tests. May be handy (see `ncm-cdispd` `add_remove_components.t` test for a use case).

[2014-07-26 14:48] #32 closed, assigned to nobody

[2014-07-29 09:31] stdweird opened #36 "CAF::Metaconfig"
we would like to use the templating code in other components and code, and for this purpose move large parts of `ncm-metaconfig` (at first glance, everything except the `Configure` and restart methods) to a new `CAF` module.

This will make CAF depend on a bunch of perl packages though.

The alternative is to use the `NCM::Metaconfig` methods directly (if this is possible).

[2014-07-31 21:14] #25 closed, assigned to piojo

[2014-07-31 21:15] #20 closed, assigned to nobody

[2014-07-31 21:17] #22 closed, assigned to nobody

[2014-08-05 10:20] #23 closed, assigned to nobody

[2014-08-14 15:56] jrha opened #42 "document interface to access generated output more as a stream"
As mentioned in #35, this needs to be documented!

[2014-08-27 13:43] #13 closed, assigned to nobody

[2014-09-03 15:33] stdweird opened #49 "Process: more executable subs"
I propose to add to CAF (one or more) of:
- `$p->get_executable()`
- pass optional loglevel to `is_executable`  to log the failure
- `$p->execute_if_executable()` (better to find shorter name like `eie` :smile: ) which is basically

[code]

comments and voting is welcome

[2014-09-24 09:27] stdweird opened #52 "CAF::Service sanity check on services"
`systemctl` commands should probably be limited to service type only (or at least assume that is the default). we could add a sanity check on the `$self->{services}` for each flavour, to be called after `_initialize`.
for `linux_systemd` it could be something like

[code]

[2014-10-01 10:13] #42 closed, assigned to stdweird

[2014-10-01 15:31] piojo-zz opened #53 "Add CAF::FileReader"
Basically a `FileEditor` that is cancelled on construction. To make this usage pattern explicit.

[2014-10-02 09:43] #36 closed, assigned to nobody

[2014-10-02 12:35] #53 closed, assigned to piojo

[2014-10-02 13:20] #33 closed, assigned to piojo

[2014-10-03 06:07] #49 closed, assigned to nobody

[2014-10-03 10:02] #52 closed, assigned to piojo

[2014-10-25 19:59] jouvin opened #61 "textrender.t failing to load YAML::XS on SL6"
On SL6, when trying to run `mvn test` on CAF master, I get the following error:

[code]

I guess this is because I have a missing package. But I cannot guess which one... BTW, is this package described as a CAF dependency?

[2014-10-26 16:07] stdweird opened #62 "CAF::Download"
Create new `CAF::Download` module to handle downloads, supporting
- http
- https with X509, GSS and NSS

To reuse code from / support current similar functionality from `CCM` and `ncm-download`

[2014-10-26 16:42] stdweird opened #63 "CAF::Service add stop_sleep_start method"
Add/implement the stop_sleep_start method

[2014-10-27 11:32] stdweird opened #64 "CAF::Service options code not in sync with pod"
eg for timeout one can set the timeout via the initialisation as suggested by the pod, but the code does `$self->{timeout}` as opposed to `$self->{options}->{timeout}`. Same for some other options.

Also the `timeout` conditional seem odd. `push(@cmd, "-T", $self->{timeout}) if $self->{timeout};` with timeout `0` doesn't set the timeout to 0 (dunno if that is the default or not).

[2014-10-29 19:44] #63 closed, assigned to nobody

[2014-10-30 00:30] #64 closed, assigned to nobody

[2014-10-31 16:39] #61 closed, assigned to nobody

[2014-11-03 11:26] jouvin opened #69 "CAF::FileStatus"
Several components (see https://github.com/quattor/configuration-modules-grid/issues/58 for an example) rely on `LC::Check` features that are not implemented in `CAF::FileXxx`. This is mainly:
- `LC::Check::directory`: creation of a directory if it doesn't exist
- `LC::Check::status` for directories: allow to define owner/group/perm... for directories
- `LC::Check::absence`: remove a file/director

[2014-11-27 15:29] ned21 opened #72 "CAF::FileWriter::close() always returns undef when in NoAction mode"
With LC::Check::file I can find out whether a file would be modified and therefore predict the consequences - see this code in [06f2f4f](https://github.com/ned21/configuration-modules-core/commit/06f2f4fd903b0e6dba7c705659b6d50fc338a658):

[code]

In NoAction mode, $result is true iff the file _would_ be changed. I cannot find a way to reproduce this with CAF::FileWriter.

[2014-12-04 15:58] #72 closed, assigned to piojo

[2014-12-24 10:33] stdweird opened #77 "CAF::TextRender support empty relpath and mulitple includepaths"

[2015-01-07 09:37] msmark opened #78 "CAF::Process POD missing $proc->execute()"
The section in the `CAF::Process` POD on [Piping in and out](https://github.com/quattor/CAF/blob/master/src/main/perl/Process.pm#L590) is missing `$proc->execute()`.

[2015-01-12 15:49] stdweird opened #79 "FileEditor add after newline"
we ran into a bug in the `ncm-named` component where `CAF::FileEditor` does a `add_or_replace` to the end of the file, but the file itself didn't end in a newline. (it broke resolv.conf, making the machine useless).

i plan to add support to check that add happens after a newline (if no newline is found, add/insert one), but i would like to make it default (but if you really know what you are doin

[2015-01-22 08:01] stdweird opened #81 "TextRender Config::General ordering issues on EL6"
Below some debug data from `TextRender` with `general` module (a.k.a `Config::General`).
The `service` entry is a list, but the generation of the text does not keep that order on EL6.

[code]

[2015-03-23 16:56] jrha commented on #69
Or the 15.4 cycle...

[2015-04-15 11:52] #78 closed

[2015-04-18 12:13] StephaneGerardVUB opened #88 "upper method in tt files gives an empty string"
Hi,
I'm facing this issue when I try to define a vnet with ncm-opennebula on a SL6.6 machine. Here is a code that isolates the problem :
[code]
The ouput of this code is the following :
[code]
I guess this is due to "upper" methode in vnet.tt :
[code]
Could this be due to bug in perl-Template-Toolkit-2.22-5.el6.x86_64 ?
Cheers,
Stéphane

[2015-04-18 12:24] stdweird commented on #88
@StephaneGerardVUB yes, `.upper` doesn't work with older perl-Template-Toolkit. we should use `pair.key FILTER upper` for that (see also https://github.com/stdweird/configuration-modules-core/commit/f837f952d189a8fe4f83aa748dd4b43aa7b36e80)

@jrha as soon as we will run the unittests on EL6 for the release, this would have popped up :wink:

@alvarosimon can you look for this (and we need to run th

[2015-04-20 07:18] alvarosimon commented on #88
@stdweird, @StephaneGerardVUB yes I will test this in a EL6 as soon as possible

[2015-04-20 08:19] alvarosimon commented on #88
@stdweird opennebula AII is not affected by this, I will modify the current opennebula component PR to fix this asap

[2015-04-20 09:47] alvarosimon commented on #88
Updated opennebula component PR: https://github.com/quattor/configuration-modules-core/pull/466 to fix this issue

[2015-04-27 14:36] jrha commented on #88
Fixed by quattor/configuration-modules-core#466.

[2015-04-27 14:36] #88 closed

[2015-05-07 16:05] jouvin opened #89 "perl-CAF update should trig a ncm-cdispd restart"
During deployment of `15.4.0-rc1` (https://github.com/quattor/release/issues/85), I was (again) in a situation where It basically works but `ncm-ncd` fails during the update itself. Below are the last lines from `ncm-cdispd` corresponding to the upgrade:

[code]

Doing aonther deploy or restarting `ncm-cdispd`, the next run is ok:

[code]

This is not a blocking issue as the next deployment after

[2015-05-07 16:53] stdweird commented on #89
what is sending the `TERM` signal?
and what do mean with `because ncm-ncd tries to use a CAF version removed since it has started`?

i'll see if i can reproduce this. why would `ncm-cdispd` want to reopen the CAF files? it should have already parsed them and have the code in memory? (or we should try to force to keep the the caf filehandles open somehow; but i don't know how perl access modules du

[2015-05-07 17:04] jouvin commented on #89
The `TERM` signal is sent by post install script of `ncm-cdispd` and `ncm-ncd` (at least) and probably `ccm`. The problem is that `ncm-cdispd` completes what it is doing before really shutting down (deferred signal processing) but the new `ncm-cdispd`, and thus the new `ncm-ncd`, is starting immediately (before the previous one has shutdown). This is harmless because of `ncm-ncd` lock that will pr

[2015-05-07 17:08] jouvin commented on #89
For me, this problem explains the issue we were not able to reproduce opened against ncm-ncd: https://github.com/quattor/ncm-ncd/issues/29.

[2015-05-07 18:29] stdweird commented on #89
what if we can take the lock in the `BEGIN` of `main` in `ncm-ncd`? that way only minimal `CAF` code is loaded (eg not even `NCD::ComponentProxyList` is read); and i think `BEGIN` implies that the rest is not even read/loaded.

(the usage of `NCD::ComponentProxyList` before the the lock is checked as the code does currently can be achieve if `list` option implies `ignorelock` by default)

[2015-05-07 19:09] jouvin commented on #89
I agree that this is something to review. Anyway, I still think that adding the (conditional) restart during RPM installation may help to catch the corner cases...

[2015-05-07 19:10] jouvin commented on #89
I set the milestone for 15.4 but I have no problem if we decide postponing to 15.6...

[2015-05-08 12:26] stdweird commented on #89
i don't like to add this to, it needs proper fix imho.
for this reason we have chkconfig as postdep of spma (but then chkconfig doesn't do what we want :smile: )

anyway, as long as it's not done like the ccm postinstall script (that one uses pgrep, which is not included as a rpm requirement)

[2015-05-08 19:32] jouvin commented on #89
It's true that `ncm-cdispd` startup file doesn't support `cond_restart` which is a problem...

I opened an issue for CCM (https://github.com/quattor/CCM/issues/53) as clearly the use of `pgrep` is anappropriate (but also a workaround for the absence of `cond_restart`.

[2015-06-04 10:19] jrha commented on #79
No objection from me.

[2015-06-04 10:24] jrha commented on #69
Or the 15.6 cycle...

[2015-07-07 10:35] msmark opened #93 "Add CAF::Log option to record the PID"
Look at the following snippet from the `ncd.log` file:

[code]

With a little bit of guesswork and intuition, you can figure out what’s going on.  But it would be easier to read if the PID of the `ncm-ncd` process was included, like this:

[code]

This example occurs when the user manually launches `ncm-ncd` shortly after the dispatcher decides there is work to do.

Can we add an option to `CAF::L

[2015-08-04 06:01] stdweird commented on #81
i've looked into the code, i see followin issues:
1. there's a `SaveSorted` option (currently enabled) which sorts the keys of the main config hash (a.ka. teh contents), but also forces a sort of any list (something we definitely do not want)
2. any hash values besides the main config are not sorted
3. single element list is converted to a scalar (another thing we don't want), this can be fixed wi

[2015-08-12 10:12] #77 closed

[2015-08-12 14:39] #79 closed

[2015-08-14 20:50] ned21 opened #100 "CAF::FileWriter does not log file changes"
Follow up from discussion in #98.

With --verbose we display the diff and log that the file was updated (which also gets echo'd to screen). Without --verbose we display nothing. Do we log anything? It would appear not because stdout is just an out of the logger, and verbose defaults to false. This seems suboptimal to me: whether a file has been changed or not should always be logged, even if not s

[2015-08-16 09:55] stdweird commented on #100
@ned21 i'd prefer not raise the default to `info`. i'll have a look to split up the loglevel for logtofile/syslog and stdout (or something like that).

[2015-08-16 10:29] ned21 commented on #100
Logging verbose message to the file by default but not to stdout is fine with me. We always try to be generous with what we log to a file and conservative with what we log to stdout.

[2015-09-03 06:50] stdweird opened #101 "remove unused ReporterObject and RepLogger modules"
They appear to be unused throughout quattor and they are untested.

[2015-09-03 06:58] stdweird opened #102 "remove ReporterMany (or explain what is supposed to add to Reporter)"
code is only used in `ncm-ncd`, but i fail to see what it should do differently than `Reporter`.

[2015-09-03 07:14] stdweird commented on #102
ok, seems like `ReporterMany` is `Reporter` with `s/$_REP_SETUP/$self/` .  if this is the main intention, i'll try to have them reuse code somehow.

[2015-09-07 08:01] stdweird opened #105 "CAF::Download should support versioned downloads via git"
Support for git (as in recent `File::Fetch`), with specification of commit or tag for (human readable) versioning

[2015-09-09 15:35] #81 closed

[2015-09-11 07:31] stdweird opened #108 "get rid of TextRender format general"
The `Config::General` module should not be used to render configfiles, as it's can't guarantee consistent and correct output.

[2015-09-11 07:31] stdweird commented on #108
see #107 and earlier #97

[2015-09-12 09:46] stdweird opened #109 "review the current usage of `each`"
`each` is evil, and altough it can be used correctly, should be avoided at all costs. after learning the lesson once more (i ran into it previously, but somehow forgot), we should get rid of it.

the problem is that each sort-of remembers the last element it iterated over.
this has all sorts of nasty side effects, but the following example illustrates the danger of using each and stopping the iter

[2015-09-12 20:25] ned21 commented on #101
Do we have a source code log to show when/why they were introduced? Or have they been deprecated by newer functions?

[2015-09-13 15:02] stdweird commented on #101
@ned21 they are mentioned in the Changelog, not sure they were ever used for quattor, but possibly for another project that relied on CAF. i can try to get something from git history to clarify this.

[2015-09-30 12:17] stdweird commented on #108
@ned21 @piojo seems to have some recollection you are intersted or using this?

[2015-09-30 12:59] jrha opened #113 "Application: Does not support -cfgfile besides --cfgfile (like Appconfig would)"
Part of https://github.com/quattor/release/issues/109#issuecomment-144091675

[2015-09-30 16:05] ned21 commented on #108
We have a couple of places where we are using it, mainly to create files in /etc/modprobe.d. I need to look into whether we can swap those out with a modern version of ncm-modprobe or not, although ISTR you wanted to move away from things like ncm-modprobe and replace it with ncm-metaconfig, in which case, what's the recommended way forward?

(I sent some example configs to Jindrich to share with

[2015-09-30 16:11] stdweird commented on #108
@ned21 we should create a small TT file that produces the format. i'll check with jindrich how hard that can be. are you using `ncm-metaconfig` for it right now?

[2015-09-30 16:18] ned21 commented on #108
We have a bit of a haphazard collection of different approaches atm but we want to standardise on the "right" way to manage these files.

[2015-10-01 10:13] #113 closed

[2015-10-05 05:41] stdweird opened #114 "Remove all function prototypes"

[2015-10-05 06:04] stdweird opened #115 "Reporter: log prefix format inconsistent"
current log prefix format is a bit inconsistent. white space is inserted in e.g. `[OK]` to align with 4 letter prefixes such as `INFO`, `VERB` and `WARN`, but not with 5 letter ones like `ERROR` and `DEBUG`.

this change however affects log messages to stdout and the logfile (not to syslog), so might introduces problems with e.g. logparsers.

fix can be as simple as reverting https://github.com/st

[2015-10-05 06:05] stdweird commented on #115
was briefly put forward during 10th workshop, but met with suspicious looks :suspect:

[2015-10-05 06:23] stdweird commented on #108
`ncm-modprobe` is still needed for the `mkinitrd`, but should be expanded to support multiple files, and maybe even proper schema. however this is beyond this PR imho.

https://github.com/quattor/CCM/pull/73 should provide the `<key> <value>` you need for the examples mentioned above

[2015-10-10 13:45] stdweird commented on #100
@ned21 @jrha i've changed my mind a bit how to handle this. i still tend to implement the splitted loglevels, but i'm afraid im'm going to reinvent Log4Perl or something like that.
would it be nicer if https://github.com/quattor/ncm-ncd/issues/14 worked? well, i tried to get some part resurrected by https://github.com/quattor/CAF/pull/117. I'll try to implement the relevant part in ncm-ncd such th

[2015-10-12 15:22] stdweird commented on #100
@ned21 this is now stdout with #117, #98 and https://github.com/quattor/ncm-ncd/pull/51
[code]

so no more `updated` polution, and each component logs a nice line (ofcourse, that specific format is just a proposal)

[2015-10-12 18:29] piojo commented on #100
So, why not replace CAF::Log with Log::Log4perl (or make CAF::Log use
Log::Log4perl instead of LC::Log)?

[2015-10-12 18:33] stdweird commented on #100
@piojo instead of `LC::Log`? it's not like it uses it atm :smile:
but :+1: on replacing it with Log4Perl

[2015-10-12 19:06] ned21 commented on #100
@stdweird ```[INFO] EVENT:``` is a ugly since now you have 12 characters of metadata before you get the real message. I haven't had time to read #117 yet but can we keep the log file optimised for humans and make a separate log that is intended to be parsed elsewhere?

[2015-10-12 19:55] stdweird commented on #100
@ned21 the format is whatever we agree on. i guess there will be more remarks on the PRs, this is just something that could be done. the info is logged in https://github.com/quattor/ncm-ncd/pull/51/files#diff-160e27257dcc0fd21f34efa66afec9bbR344, but nothing should prevent to do something different.

"a separate log that can be parsed" sounds like part of actual solution of https://github.com/quat

[2015-10-19 07:14] stdweird commented on #69
@ned21 you can't mock the perl builtins `-f` etc. Other nice thing would be integration with `Test::Quattor`, so when you fake the contents of a file with `set_file_contents`, a file existence test should report this fake file as being present (and the whole subtree should be testable as exsting directories).

i'm willing to do some effort here, but i need something more than just filestatus, i ne

[2015-11-26 12:23] #101 closed

[2015-12-03 23:59] #108 closed

[2015-12-05 22:43] #102 closed

[2015-12-09 11:22] stdweird commented on #69
see also
* https://github.com/quattor/configuration-modules-core/issues/648
* work done in https://github.com/quattor/configuration-modules-core/pull/615/files#diff-03b83223101921d4405f8416363c3a20R359

[2015-12-23 18:11] jouvin opened #123 "Add a rule-based file editor to CAF"
In some circumstances it is required to edit some files (typically provided by a RPM) to change some configuration parameters and doing it on the template site is impractical or unmaintainable because the file provided by the RPM evolves and you just want to ensure that some critical parameters have a defined value. Doing it on the template site would require to update the templates at each new ve

[2015-12-23 19:48] stdweird commented on #123
@jouvin quite a long post. i'm not going to comment on all sections at once though

a. the disadvantages of filewriter/metaconfig are indeed what you sum up, but at least for metaconfig, extending support for a new option can typically be done by extending the schema, and textrender supports multiversioned templates, but the coupling with the rpm version is indeed manual.
you however do not mentio

[2015-12-23 20:34] jouvin commented on #123
I understand your points and I don't want to claim that the proposed solution addresses any use cases. The actual added value of what I developed, IMO, is not that this is a powerful templating system (it is clearly not!) but the coupling with a hierarchy of options through this `option set` concept. You could certainly mimics thing in TT template code but this would hardly be generic as you said

[2015-12-24 13:19] jouvin commented on #123
BTW, I forgot to give an example of rule hash (this is from `ncm-dpmlfc` (this uses many constants not described here):
[code]

I didn't understand the remark about rules being code rather than data. Rules are Perl hashes which for me are data (the only code used is the string concatenation)...

[2015-12-26 18:59] jouvin commented on #123
Thinking a little bit more at the implementation details, I think that the issue is misworded and that there is no need for a new CAF module. What I propose is in fact just and extension of the FileEditor with a set of new functions to do the rule-based edition. A new module would just inherit from FileEditor and add new functions without modifying anything to the standard behaviour.

[2015-12-28 09:17] jouvin opened #124 "CAF::Reporter: Add a method deverror"
@stdweird suggested in https://github.com/quattor/configuration-modules-grid/pull/86#discussion-diff-48453285 that we could have a distinct method to report errors that are detected but caused by internal inconsistencies in the code (like missing arguments). This method could format the error specifically making explicit that this is a code bug and that it should be reported.

[2015-12-30 21:18] jouvin opened #125 "CAF::FileEditor: add a replace() variant where the newstring can reference the linere pattern"
As explained in https://github.com/quattor/configuration-modules-grid/pull/86/files#diff-1ed12f02554370943ea6fe0a5944b63f, there are circumstances where you want to match lines in a file using a regexp and to modify something in the matched lines but without knowing the exact contents of the matched lines. An example is when you want to comment some lines in a configuration file that matches a cer

[2015-12-31 09:15] stdweird commented on #125
seems like a useful addition.
one question/proposal: the `newvalue` is currently a string, we could make a it an arrayref such that the matched position groups are zipped (like python `zip`) with the newvalue arrayref, like
`$linere = qr{a(B)c(D)}` and newvalue `['x', 'y', 'z']` would retrun newvalue string `xByDz`
(in your example, this would become `linre = qr{^(.*the line i want.*)$}` and newva

[2016-01-05 07:22] stdweird opened #127 "do a cancel/close on DESTROY when perl dies"
see https://github.com/quattor/ncm-lib-blockdevices/issues/59

we need to cancel if close is called as result of crash, but i have no idea how to distinguish this

[2016-01-08 09:47] jouvin commented on #100
I completely missed this discussion... I tend to agree that having this kind of logging done by CAF would be a useful addition but we need to take into account that several/many components already do some logging based on CAF `close()` return value. The duplication is probably less a problem that the current absence of logging in some components...We may just clean it up at some point. Or do we wa

[2016-01-08 10:59] stdweird commented on #100
@jouvin to be clear, this is about reducing the loglevels in CAF, it should indeed be left to the component or in e.g. `ncm-ncd`. see the example output in
https://github.com/quattor/CAF/issues/100#issuecomment-147434059

the component does not log a single thing, it is `ncm-ncd` that gives an overview of any important events.

[2016-01-08 21:52] jouvin commented on #100
May be my wording was not clear, I wanted to say that I would not like to see unconditionnally some messages logged by CAF at info level without a way for a component to disable it. I understand that the exact amount of information really displayed is controled by `ncm-ncd`. Your example show something logged by CAF (if I understood properly) with the message built by CAF rather than by the compon

[2016-01-09 06:58] stdweird commented on #100
the example reports the events after the component finished to run, so it done only by `ncm-ncd`. CAF does not report anything with loglevel info.
i think that the run of any component should report with info level any important changes to the system (like file updated, service restarted,..) but this code shows that this can be done also without modifying any component to insert the same messages

[2016-01-09 08:34] jouvin commented on #100
I missed that. I agree that if this is a summary added by `ncm-ncd` after the run of each component it can be useful to have a common format for all components making easier to look for these changes.

[2016-01-12 16:44] kwaegema opened #129 "Master does not build on perl v5.20.3"
running test  test-caffileeditor_add_or_replace.t fails on v5.20.3 :

Modification of a read-only value attempted at /usr/share/perl5/vendor_perl/IO/String.pm line 345, <GEN1> line 16.
 at /usr/share/perl5/vendor_perl/IO/String.pm line 345, <GEN1> line 16.
	IO::String::write(CAF::FileEditor=GLOB(0x2401b60), "tsjoelala\x{a}") called at /usr/share/perl5/vendor_perl/IO/String.pm line 137
	IO::String:

[2016-01-12 17:37] stdweird opened #131 "no longer import functions from CAF modules"
One of the current PRs (probably the cleanup in CAF::Object in https://github.com/quattor/CAF/pull/126)
causes the following to fail
[code]

The question is: is this supposed to work/ required?
it is backwards incompatible, but methods should be used directly anyway.

(The other question: why was this working before, or how did the changes break this)

[2016-01-12 17:38] stdweird commented on #131
@jrha @ned21 feedback welcome

[2016-01-13 08:58] #129 closed

[2016-01-21 17:11] jouvin opened #133 "CAF::Service should allow to enable a service"
It's something we discussed a while ago at the time `CAF::Service` was started. But it was probably an issue/PR related to something else... `CAF::Service` is nice as it is abstracting the details on how to start/stop a service. But we are lacking the same for configuring the permanent state of a service, abstracting `chkconfig --level` on EL<7 and `systemctl enable` on EL7.
I remember from the ol

[2016-01-21 19:09] stdweird commented on #133
we can rediscuss this during the workshop, but i still do not see why `ncm-chkconfig` can't be used.
the components should configure the service they are meant to configure (this could mean briefly starting a service, but should also restore the service to its original state, i.e. stopping it in the end if it wasn't running before). the only component needed to actually enable services is ncm-chkc

[2016-01-21 19:17] jouvin commented on #133
I agree with you last paragraph: it should not be a distinct method but really an option of methods affecting the service state do do it permanently. I thought we already had the ` status` and `condrestart` methods, they are clearly needed.
I will try to have a look to see if I can offload the `chkconfig` part in `ncm-dpmlfc` to the template site without adding too much complexity to the templates

[2016-01-21 20:07] stdweird commented on #133
status and espcially condrestart are not provided by all sysvinit services, so having it in CAF might imply that it doesn't work (and there's no easy way to query the init script to see if it is supported or not). also , i have no clue what the situation is in solaris.

[2016-02-04 22:47] jouvin opened #134 "CAF::Reporter::log should be protected against undefined arguments"
Under some circumstances, it may happen that some of the arguments passed to `CAF;;Reporter::log()` are undef. `CAF;;Reporter::log()`  should be protected against that rather than printing a warning message...

[code]

[2016-02-05 05:55] stdweird commented on #134
we should also mock the reporter in the test framework and have it fail when this is encountered.

[2016-02-10 15:24] #134 closed

[2016-02-12 16:32] jrha commented on #123
16.2 is unrealistic, please don't set a milestone unless you have code in progress.

[2016-02-12 17:06] stdweird commented on #131
@jrha to be closed after the RCs have been tested

[2016-02-14 09:53] #93 closed

[2016-02-15 10:19] #114 closed

[2016-02-15 17:00] ned21 opened #139 "CAF::FileReader example use does not work"
CAF::FileReader includes the following sample code but [a search ](https://github.com/quattor/configuration-modules-core/search?utf8=%E2%9C%93&q=FileReader&type=Code) of the code base shows no actual examples of its use.

[code]

In testing, this doesn't work. ```print "$fh"``` does work because of stringify().  This works:

[code]

Unclear if this is a documentation bug or if filehandle syntax sh

[2016-02-15 17:05] stdweird commented on #139
@ned21 should work i think. it's simply `IO::String`. what perl/OS is this? (i'll try to reproduce asap)

[2016-02-15 17:19] ned21 commented on #139
I could reproduce on both RHEL5 and RHEL6.

rhel5 $ /usr/bin/perl -version
This is perl, v5.8.8 built for x86_64-linux-thread-multi

rhel6 $ /usr/bin/perl -v
This is perl, v5.10.1 (*) built for x86_64-linux-thread-multi

perl-CAF is 14.10 but I couldn't see any changes since then that would change this.

[2016-02-15 18:59] stdweird commented on #139
works fine with latest master on EL5
[code]

[2016-02-15 19:00] stdweird commented on #139
we can add it as unittest to make sure the examples work.

[2016-02-16 09:44] ned21 commented on #139
I just installed perl-CAF 15.12 and it still doesn't work.

[code]

[2016-02-16 09:54] stdweird commented on #139
@ned21 the example is wrong, it has to be `->new`, not `->open` (i overlooked it completely)

[2016-02-16 09:56] stdweird commented on #139
if you want to use `open`, you have to reseek to the  begin with `$fh->seek_begin` (it's basically what new does in `FileReader` (and not in eg Writer or Editor)

[2016-02-16 14:29] ned21 commented on #139
Thanks. That seems weird - open() is a synonym for new() in other modules and this code suggests it should result in the same method.
[code]

[2016-02-16 14:38] stdweird commented on #139
hmmm, that is weird. note that for the parent `IO::String` `open` is nto the same as `new`, so it's odd that `open` is redefined to `new`.

[2016-02-16 14:50] stdweird commented on #139
this is indeed supposed to be like this.  expect a PR and unittetst soonish

[2016-02-16 15:32] stdweird commented on #139
@ned21 i can fix it, but i don't understand what is going on. probably subtle differences between `use base`, `use parent` and friends.

[2016-02-18 12:23] stdweird commented on #131
only occurrence of direct method import https://github.com/quattor/configuration-modules-core/pull/676

[2016-02-18 12:24] jrha commented on #131
As discussed at today's stand-up, this functionality shouldn't be needed.

[2016-02-18 12:24] jrha commented on #131
Fixed by merging quattor/configuration-modules-core#676.

[2016-02-18 12:24] #131 closed

[2016-03-07 18:33] stdweird opened #143 "Disable chatty CAF::Check"
This is very similar to #98: currently LC::Check function use the internal `_message` method to `print` This is suboptimal, because it does not get logged as any other action, and does not allow tracking.

We could
- pass silent, so nothing gets printed (but also nothing get logged)
- fiddle around with `select` so `print` writes to the reporter (have no clue if this is possible)
- run with silent

[2016-03-21 16:51] gombasg opened #144 "CAF::Lock is not atomic"
Hi,

We've just run into two AII invocations trying to write the DHCP config file simultaneously. Although the aii-dhcpd module does use CAF::Lock, apparently CAF::Lock is not atomic. Take the following sample code:

[code]

strace tells this story:

[code]

Note that the open() call misses `O_EXCL`; without that, two processes executing the same steps in parallel would happily end up both thinkin

[2016-03-21 18:22] stdweird commented on #144
@gombasg could this be related to #132?

[2016-03-21 19:23] gombasg commented on #144
Yes, that's related, but the proposed solution is not quite there yet.

[2016-03-23 15:07] jrha commented on #133
As discussed at 21st workshop, we have decided that we will not implement this.

[2016-03-23 15:07] #133 closed

[2016-03-26 09:02] stdweird opened #146 "CAF::Lock is it's own reporter"
CAF::Lock probably does not log at all, ever, and even if it did, it doesn't follow the usual `log => $self` magic.
Need to figure out where CAF::Lock logging is initialised, and see if we can make if a `CAF::Object` that supports `log => $self` magic instead.

[2016-04-11 13:03] ttyS4 opened #148 "CAF::FileWriter updates files in-place"
It should create a new file and rename to do it atomically.

[2016-04-11 14:42] stdweird commented on #148
care to elaborate a bit? maybe a test case/example?
CAF::FileWriter uses `LC::Check` to do the actual modifications

[2016-04-11 14:56] ttyS4 commented on #148
If a configuration is created with metaconfig what I see from strace is that the file is unlink-ed first and then opened write-only mode. This means if an application reads the file in-between it could read partial content.
I think it should create a new temporary file (if modification needed) and then do a rename to move to its intended name. I have not traced down to the actual code doing the wo

[2016-04-11 15:03] stdweird commented on #148
@ttyS4 files are written using `https://github.com/quattor/CAF/blob/master/src/main/perl/FileWriter.pm#L186`, and what you are seeing is `https://github.com/quattor/LC/blob/master/src/main/perl/Check.pm#L906` (i didn't know the internals either, but the code confirms your strace data and it's scary indeed).

[2016-04-19 07:50] #139 closed

[2016-04-19 14:46] stdweird opened #149 "CAF FileWriter set default file permissions"
`CAF::FileWriter` should set a default filemode, irrespective of the defined umask. proposal is to use `0644`

[2016-04-19 14:46] stdweird commented on #149
@jrha @jouvin @ned21 please comment

[2016-04-19 20:07] ned21 commented on #149
This would only be a default? So any code where the author had specified a value would continue to work unchanged? I could potentially see this breaking a site where they were relying on a umask to ensure all files were 0600 or similar but in principle I think this is a good idea.

[2016-04-20 07:02] stdweird commented on #149
@ned21 what we can do is add a `set_umask` method to CAF somewhere, and when this is used to set the umask, the FileWriter does not set this default.

and yes, this would be a default, if mode is specified, the specified mode is set, umask or no umask.

you should be aware that `LC::Check` sets default directory permissions if no mode is specified when creating e.g. the parent directory of a file;

[2016-04-20 07:54] ned21 commented on #149
Sorry the problem I raised was hypothetical. I don't know of any site relying on umask and unless someone pops up in the comments then I think we should just make the defaults sensible and not complicate the code by providing an opt-out. If it does turn out to be a real issue then we could implement `set_umask`.

[2016-04-23 15:04] jouvin opened #150 "test_caffileeditor.t unit test failing"
On my development machine (EL6), I cannot run successfully tests related to FileEditor. For example, any attempt to run `test-caffileeditor.t` results in:

[code]

I tried both with master and previous release... What trivial mistake did I do?

[2016-04-24 09:45] stdweird commented on #150
given we run the tests on el5/6/7 before each release, i find this a bit strange. are you saying that the unittests from master fails on EL6 with this error?

[2016-04-24 10:08] jouvin commented on #150
At least on my EL6 machine. There is may be something different in the test environment and what we run (which is pretty standard). At least the fix should not hurt!!

[2016-04-24 10:16] stdweird commented on #150
@jouvin i'm just surprised that master unittests fail, i'll merge the fix

[2016-04-24 10:16] #150 closed

[2016-04-24 12:23] stdweird opened #153 "remove add_files"
Remove any references to `add_files`

[2016-04-24 17:27] ned21 commented on #153
I don't follow this one - how come/why?

[2016-04-24 17:54] stdweird commented on #153
it's completely replaced by #117

[2016-04-25 12:27] jrha commented on #153
For those who are not experts, please expand the description of this issue a little bit.
i.e. What is `add_files`, why is it going away?

[2016-05-02 05:36] stdweird opened #157 "CAF::FileWriter/Reader/Editor handle invalid source/destination"
Currently, passing a directory as filename to CAF::FileWriter/Editor/Reader, or a non-writeable file to Writer/Editor will result in an LC::Exception on close. Should we improve the initialisation to handle this early on?

[2016-05-02 05:37] stdweird commented on #157
Thinking a bit more about it, what would this actually solve? you still need to handle exceptions on close (eg something could delete the original filename and make a directory with the same path between init and close)

[2016-05-04 16:53] jouvin opened #158 "kerberos_process.t:lots of gssapi failure + uninitialized value"
`kerberos_process.t` produces several lines like below and they don't seem expected failures despite the test is considered to be passed successfully...

[code]

[2016-05-04 18:31] stdweird commented on #158
i'll check if https://github.com/quattor/CAF/pull/145 fixes this

[2016-05-05 12:39] stdweird commented on #158
the uninitialised warnings are solved by the PR

[2016-05-08 16:41] jouvin commented on #158
Confirmed, Closing the issue.

[2016-05-08 16:41] #158 closed

[2016-05-09 07:28] jouvin opened #159 "RuleBasedEditor suggested improvements"
During #151 review of the initial RuleBasedEditor code, some areas for future improvements have been identified:
- To avoid the multiplication of  the `LINE_FORMAT_xxx`, add a `LINE_VALUE_OPT` that will allow to select between space and `=` as a keyword/value separator. The existing format should be kept with their default separator for better backward compatibility.
- Use a dispatch table to repl

[2016-05-09 08:33] stdweird commented on #159
* consistent return values: undef on failure, SUCCESS on success (see eg `_commentConfigLine`) adn act upon them in `_apply_rules`

[2016-05-10 07:55] stdweird opened #160 "handle undef in FileEditor _is_reference_newer"
[code]

[2016-05-10 07:56] stdweird commented on #160
maybe merge #154 first?

[2016-05-10 19:59] jouvin commented on #160
These 2 messages seem to be fixed by #154. But I found 2 other similar messages:
[code]
One of them is triggered by `test-caffileeditor_add_or_replace.t`.

[2016-05-10 20:49] jouvin opened #161 "Test path.t failure"
On my SL6 development machine, `path.t` fails:

[code]

Do I have something missing? Not sure why the test succeeded on GitHub...

[2016-05-11 06:23] stdweird commented on #160
`Test::Quattor::Object` is from maven-tools, but the issue i saw was not in testing, but in actual usage. i'll open a PR to fix it

[2016-05-11 06:39] stdweird commented on #161
tests pass with blank EL6 VM and build_all_repos. can you mail me the whole output of
[code]

[2016-05-11 10:23] jrha commented on #161
Please don't assign milestones to issues unless they are release blocking issues (no evidence for this one yet) or they have an associated PR.

[2016-05-11 11:30] jouvin commented on #161
@stdweird here is the log: [log.txt](https://github.com/quattor/CAF/files/259166/log.txt)

[2016-05-11 11:32] jouvin commented on #161
@jrha I apologize it I did something wrong... Nevertheless, I always tend to assign a milestone to issue as I am afraid that an issue without a milestone will never be looked at. I could have put 16.6 but in this case decided 16.4 because I always find a problem in a test suspect and it may be the sign of something that will popup in the release process later... I may have been wrong....

[2016-05-11 11:50] stdweird commented on #161
@jouvin the attached log has all tests passing. can you try to reproduce a failing one?

[2016-05-11 12:51] #160 closed

[2016-05-11 13:38] jrha commented on #161
@jouvin no worries, we decided to keep a global backlog of unassigned issues and monitor it to prevent issues being lost rather than losing them while they are assigned to future releases. Neither system is perfect.

[2016-05-11 15:10] jouvin commented on #161
@stdweird problem understood (sorry I awa in a meeting and didn't check that the log reproduced the error). It happens if you don't clean. Certainly nothing urgent then. But for me, it is a bad practice if we always need to run the clean phase... New log with the problem:
[log2.txt](https://github.com/quattor/CAF/files/259600/log2.txt)

[2016-05-11 15:16] stdweird commented on #161
euhm, i never run without clean :smile:

[2016-05-12 11:14] stdweird commented on #100
pushing this to 16.6. i'll add some functionality to report certain events when they are called, not at the end

[2016-05-15 08:02] stdweird commented on #159
* export the constants also as readonly, so the can used as variable in the string rather than concatting, eg.
use `"DiskFlags:dpns->DiskFlags:dav;$LINE_FORMAT_KW_VAL;$LINE_VALUE_ARRAY",` rather than current `"DiskFlags:dpns->DiskFlags:dav;".LINE_FORMAT_KW_VAL.";".LINE_VALUE_ARRAY,`
* refactor the unittest code by introducing some function instead of copy/pasting the tests
* unittests should be mo

[2016-06-02 20:41] ned21 opened #167 "CAF::Process, $? and NoAction"
I noticed a regression in some ncm- components when running in --noaction mode after upgrading to 16.2. The component would report an ERROR that a command had failed, even though it was never run (this is NoAction mode). The ERROR was being logged as a result of a check on $?, which CAF::Process documents as the correct way to check for errors from sub-processes. Downgrading perl-CAF and perl-LC d

[2016-06-03 12:16] stdweird commented on #167
@ned21 it must be something like that. `$?` can be set by anything (it's also how `LC::Process` does it).
it's a pity the is not `local+1` scope or something like that :smile:
i fixed it as part of cleanup/refactoring https://github.com/quattor/CAF/pull/168/files#diff-935c84ca8d8a9b56c500c070f0e885aaR152

[2016-06-04 13:13] stdweird opened #169 "CAF::FileWriter support mtime"

[2016-06-29 15:34] jrha commented on #161
I'm now seeing this on a clean SL6.7 VM while trying to `build_all_repos`

[2016-06-29 15:36] stdweird commented on #161
@jrha can you pm me the gzipped output?

[2016-06-29 15:42] jrha commented on #161
Sure, I'm just re-running to confirm.

[2016-06-29 15:44] stdweird commented on #161
i ran build_all_repos on el65, el71 and el59 and all went ok

[2016-06-29 15:46] jrha commented on #161
FWIW I also initially saw the failure to install `perl-enum` as well, so they may be something deeper wrong with the VM images.

[2016-06-29 16:00] jrha commented on #161
@stdweird I've emailed the `build_all_repos` output to you.

[2016-06-29 18:37] stdweird commented on #161
are you running the tests as root? if so, can you run the tests via https://github.com/quattor/release/blob/master/src/scripts/context_init_build_all_repos.sh

the tests fail on a premission restricted piece of code, but if root is allowed to ignore directory permissions, the tests can trigger the expected failure.

[2016-06-30 08:54] jrha commented on #161
I am, always have. I'm lazy and it's highlighted some non-mocked code in the past.
I'll try running again as a non-root user.

[2016-06-30 09:26] stdweird commented on #161
ok, i'll try to run th etests as root, and see if it is an root related issue or not.

[2016-06-30 10:56] jrha commented on #161
Ok it passes fine as a unprivileged user, now dying on `rpmlint`, so new issue.

[2016-07-04 15:25] ned21 commented on #148
@stdweird Is there a plan here? Bring forward plans to remove LC::Check and handle writing the file within FileWriter?

[2016-07-04 15:47] stdweird commented on #148
well, i'd say replace `LC::Check::file` with another (hopefully existing) library that does this atomically. replacing whole LC::Check will only take a lot longer. reinventing `LC::Check::file` is not something we should attempt imho, it's too much specialised work. on the short term, patching `LC::Check` might be considered.

[2016-07-04 15:48] stdweird commented on #148
@ned21 e.g. review http://search.cpan.org/~jmates/File-AtomicWrite-1.16/lib/File/AtomicWrite.pm and use that in LC::Check::file or if good enough, in FileWriter?

[2016-07-04 21:38] ned21 commented on #148
The module looks comprehensive but I would be a little reluctant to introduce a dependency on yet another library for what is still a fairly simple operation. e.g. one of the modules on which we depend pollutes $@ which caused some odd bugs, etc. Admittedly File::AtomicWrite does appear to use die() to signal errors which is nice and modern but using a library does force us to respect their callin

[2016-07-05 03:57] stdweird commented on #148
@ned21 fairly simple? `LC::Check::file` supports backup, noaction, create missing parent dirs, set permissions/ownership, report changed content and i probably missed a few things. (the only thing we do not need is the not so nice exception handling system imho)
using a library is not that bad, certainly beats trying to write this ourself. as long as we wrap it in CAF, it's ok i think. i'll have a

[2016-07-05 20:39] ned21 commented on #148
If we didn't have a library then I would agree, but we already have CAF::FileWriter and CAF::Path so why do we need another layer of indirection? AtomicWrite is actually nicer than NoWorries in that it is fairly simple. NoWorries brings in a lot of code with many layers of abstraction.

I guess I am looking to simplify the code base rather than complicate it further. So if LC::Check::file was repl

[2016-07-06 06:22] stdweird commented on #148
@ned21 i totally understand, but reinventing the wheel requires time and effort (which i don't have)

i'll try to identify the code blocks we need from `LC::Check::file` and how many lines of perl is required to replace it (from NoWorries of AtomicWrite), incl unittests. but if the required code is too large, using (yet another layer of) libraries makes sense from a maintenance point of view imho.

[2016-07-06 07:22] stdweird commented on #148
so i read some code :smile:
* NoWories::File is not atomic
* IO::AtomicFile is too simple
* File::AtomicWrite is nice
  * goes to great lengths to make sure the tempfile is cleaned up when something goes wrong
  * checksum feature
  * the `safe_level` is a nice thing to use, didn't know it existed
  * supports setting ownership/mode and create directories
  * missing
   *  backup support: this is

[2016-07-06 13:41] stdweird opened #172 "Lock not compatible with old lock"
With #132  merged, locks taken with the old code are not seen by the new code (the other way around is certainly not supported)

Old locks are files with a pid in them, and presence of the file indicates the lock is taken; nothing more.
To support old lockstyle locks, we only need to modify the method to test the locking: an old-style lock is present when the file exists and is not empty (old-styl

[2016-07-08 12:57] #172 closed

[2016-07-18 14:50] stdweird opened #177 "Kerberos: binary garbage in debug message during init"
[code]

[2016-07-28 08:58] #177 closed

[2016-08-04 08:51] stdweird commented on #159
@jouvin moving this milestone, afaik, you are on holiday for the remainder of 16.8

[2016-08-04 08:55] stdweird commented on #146
Was fixed in #173

[2016-08-04 08:55] #146 closed

[2016-08-07 11:21] #169 closed

[2016-08-08 09:11] #167 closed

[2016-08-09 07:52] stdweird opened #182 "Prorcess: add method to test for failure based on exitcode"
most code does a simple `if($?)` after `CAF:Process`; but there is code (like `ncm-download`) that uses more leborate check
[code]

figure out what the best way is to check for success (maybe redefine `$?` based on above checks), and also add it as a new method.

[2016-08-09 08:11] stdweird opened #183 "Path: support number of stat operations, like get mtime"

[2016-08-22 10:31] ned21 opened #185 "FileWriter:: Log when a file has been updated"
ncm-nss has this code to let the SA know when the file has been updated:

[code]

This logging/notification should be an intrinsic part of CAF::FileWriter.

[2016-10-05 11:08] piojo opened #186 "Unconditionally write verbose logs to the log files"
Write verbose logs to log files, even when the application wasn't invoked with `--verbose` .  In this way, lack of `--verbose` means "keep my screen clean, but write it all to the log file".

[2016-10-05 11:10] piojo opened #187 "Use Log::Log4perl as the backend for CAF::Log"
Each organization has different logging requirements, and `CAF::Log` is not flexible enough.  Use `Log::Log4perl` to grant more configuration knobs.

[2016-10-05 11:15] jrha opened #188 "Ensure all CAF actions use History"
As discussed at the workshop, all CAF actions should create events for CAF::History.

[2016-10-05 11:18] stdweird opened #189 "FileWriter: add diff to history"

[2016-10-05 11:20] ned21 commented on #100
At workshop we decided to change ncm-ncd so that verbose messages are always logged to the file, regardless of whether --verbose is passed on the command line. This will mean that the current log file will always reflect what files were changed and the diff. This cannot leak information provided the log files have the same permissions as the profile directory.

Using CAF::History to generate machi

[2016-10-06 09:15] #186 closed

[2016-10-06 11:24] ned21 commented on #148
After discussion I am good with using perl-File-AtomicWrite, shipped by quattor as an external RPM. We also discussed the potential issues caused by leaving temporary files in a directory if the host e.g. power failed during the write. It was decided that most globs ignore files which start . so there is no real risk.

[2016-10-06 11:24] piojo opened #191 "Provide with a uniform backup mechanism that doesn't litter"
Having backups in the same directory is too brittle.  Rolling back if a validation has failed implies adding code to move old files around, which has to be tested and its bugs addressed.  An uniform `CAF` API that handled the case, like

[code]

Or something similar.  We can rely on Git directly, using `GIT_DIR` and `GIT_WORK_TREE` [environment variables](https://git-scm.com/book/en/v2/Git-Interna

[2016-10-06 11:29] piojo commented on #148
[`File::AtomicWrite`](http://search.cpan.org/~jmates/File-AtomicWrite-1.16/lib/File/AtomicWrite.pm) looks quite solid.  We'd just need to make `CAF::FileWriter` use it instead of `LC::Check`, and enforce that its templates are always strong enough.

However, is it available on older RHELs?

[2016-10-12 19:32] stdweird opened #194 "New CAF exception/error handling functions"
See https://github.com/quattor/CCM/issues/109 for relevant discussion

[2016-10-13 06:00] stdweird commented on #144
@gombasg now we get
[code]
(to test with your code, you need https://github.com/quattor/CAF/pull/195, or add a `use CAF::Reporter`)

[2016-10-13 06:09] stdweird commented on #100
@ned21 i only now see the "provided the log files have the same permissions as the profile directory" remark.
this is currently not the case. should be easy to add however

[2016-10-13 11:41] stdweird opened #197 "CAF::Path needs path untaint"
can now cause lots of
[code]

[2016-10-15 19:45] #197 closed

[2016-10-17 09:05] jrha commented on #144
So is there a fix for this?

[2016-10-17 09:12] stdweird commented on #144
@jrha i think it is fixed, but waiting for @gombasg to confirm

[2016-10-19 13:21] stdweird commented on #100
Should be fully covered in code, but the defaults are not what agreed upon to allow a migration form legacy behaviour. 2 issues are opened to change the defaults to always log with verbose_logfile https://github.com/quattor/ncm-ncd/issues/94 and to make the logdir not world_readable https://github.com/quattor/ncm-ncd/issues/93
https://github.com/quattor/configuration-modules-core/pull/948 allows y

[2016-10-19 14:05] #100 closed

[2016-10-27 07:33] jouvin commented on #144
I think it was the purpose on relying on flock() in CAF::Lock, isn't it?

[2016-10-27 15:24] ttyS4 commented on #144
@jouvin Yes, i think this was fixed by using flock in `CAF::Lock`.

[2016-11-01 18:47] stdweird commented on #148
i did some further review:
* i can add support for mtime and backup
* supporting changes is very hard. now the changes are checked twice: once by diff (if in verbose mode), and by `LC::Check::file` code. i would like to use `Text::Diff` to compare and report any changes, and if a change exists, call `File::AtomicWrite` to write the changes

@ned21 can we use `Text::Diff`? it exists in EL6 and El7,

[2016-11-01 20:51] ned21 commented on #148
Yes, that's fine. Both File::AtomicWrite and Text::Diff will need rpms created and shipped as part of the externals repo?

[2016-11-01 21:02] stdweird commented on #148
ofcourse. only `Text::Diff` needs them for el5 though.

[2016-11-02 08:05] stdweird opened #200 "FileWriter: add a sensitive flag to control logging of sensitive diff information"

[2016-11-03 12:33] stdweird commented on #144
@gombasg ping?

[2016-11-10 12:26] jouvin commented on #144
After discussion with Gabor, there was an agreement that CAF::Lock changes should have fixed this issue. Closing this issue: reopen it if needed.

[2016-11-10 12:26] #144 closed

[2016-11-28 07:18] stdweird commented on #148
@ned21 wrt `Text::Diff`, burrently jenkins has 1.41 installed (same version as el7 ships) and a unified diff looks
[code]
(yes, on a single line).

with version 1.44 (current latest) the diff looks like
[code]

requiring 1.44 implies that the perl-Text-Diff rpm should come from externals for el5-7

[2016-11-28 15:47] #153 closed

[2016-12-06 14:27] stdweird commented on #148
apologies, moved to 17.2 due to lack of testing before 16.12

[2016-12-26 20:41] stdweird opened #205 "RuleBasedEditor has dependency on CAF"
the `unescape` method is used; if this cannot be avoided, RuleBasedEditor shouldb be moved to `CCM`

[2017-01-26 04:52] jouvin opened #210 "Application.pm: no possibility to test if an option exists"
If I am right, there is currently no way to test if an option is defined in the context of an application. If using `option()` method with a non existing option, an error is printed saying that the option doesn't exist. It would be great to have either `option()` testing the exististence of the option and silently ignoring non existing option (this will result in an `undef` value returned).or to h

[2017-01-26 07:31] stdweird commented on #210
yes, it is a great pity that the `Appconfig` `->get()` method does not support defaults.
but you can already check if value is defined, using clunky code like https://github.com/quattor/CAF/blob/master/src/main/perl/Application.pm#L449
so you can support a default with `CAF::Application` `option` method as second argument, and handle the test with the `varlist` trickery.

[2017-02-01 20:57] jouvin commented on #210
I know how to test a variable existence with AppConfig. This is in fact much simpler that the clunky code you mentioned. AppConfig has an "internal method" called `_exists()` that does exactly what is needed. And as said in AppConfig code, it is quite reasonable to use the internal API for simple things (I really don't expect this method to disappear or change! Less chance than a change in the int

[2017-02-24 14:26] jouvin commented on #161
Hit that problem again...  Log file [CAF_path_test.log.gz](https://github.com/quattor/CAF/files/799533/CAF_path_test.log.gz) attached.

[2017-02-24 16:18] stdweird commented on #161
@jouvin thanks for the log. what filesystem is this? and you are running as non-root, right?
if you are runnign the tests to get rpms, you can get them from jenkins too https://jenkins1.ugent.be/view/Quattor/job/perl-CAF/lastBuild/org.quattor.client.libraries$perl-CAF/artifact/org.quattor.client.libraries/perl-CAF/16.12.1-SNAPSHOT/perl-CAF-16.12.1-SNAPSHOT.rpm

[2017-02-24 16:22] jouvin commented on #161
Yes I am running non root... but I run tests to assess that I broke nothing, not to get RPMs! Thus my problem if I cannot run the tests reliably on my local SL6 machine...

[2017-02-24 16:27] stdweird commented on #161
ok, and what filesystem are you using? and can you share a `env|sort` output? what OS is this? (i'm trying to gather some data, i have no obvious idea what the issue could be).
also, is it reproducable?

[2017-02-25 16:13] stdweird opened #213 "cannot import CAF::TextRender or CCM::TextRender"
causes failure of aii opennebula tests

new cyclic dependency introduced by #204
[code]

this is not spotted by the old load or new tqu tests.

[2017-02-25 16:23] stdweird commented on #213
this is worse, also CCM::TextRender fails to import on its won

[2017-02-26 11:31] jouvin opened #216 "CAF::Path documentation: mistakes and obscure statements"
- `file_exists()` documentation states the function tests if a file exists and is a directory... I think this is *is not*...
- Statements about what happens with broken symlinks are unclear for me...

[2017-02-26 11:34] jouvin opened #217 "CAF::Path: add a is_symlink() function"
If I understood properly the documentation, there is no trivial way of assessing that an existing file or directory is a symlink with `CAF::Path`, something that is sometimes desirable? What about adding  `is_symlink()` function that could be used in conjunction with other `xxx_exists()` function to check if an object is a symlink?

[2017-02-26 12:39] stdweird commented on #217
adding sym/hardlink support is on the todo list. just testing is not enough, also creating a link is required and the maventools need support for the new caf methods.

[2017-02-26 12:57] jouvin opened #218 "CAF::Path xxx_exists() functions are not NoAction safe"
`xxx_exists()` functions test the file/directory/object existence even though NoAction is set, meaning they fail in the unit test context (where the file may not exist).

[2017-02-26 13:06] stdweird commented on #218
`NoAction` is not a variable related to unittests, it means that no modifications to the state of a node are made. testing a file existence does not affect the state of system, so nothing is required.

for unittests, you need to fake the existence of the file, which is as simple as eg setting the contents of the file. it can be emtpy. (and a fake file also gets fake directories for free, so `direc

[2017-02-26 13:08] stdweird commented on #218
for an example see https://github.com/quattor/configuration-modules-core/pull/1045/files#diff-6e3fd2522886db53e341d16bd0bd7eddR43 which fakes the file test in https://github.com/quattor/configuration-modules-core/pull/1045/files#diff-9c90954db2b0a0810ad993d352b7d2e7R152

[2017-02-26 17:34] jouvin commented on #218
No `set_file_contents()` doesn't work in this particular context because this is not creating a real file (if I am right) and thus `xxx_exists()` that expects a real file fails.

[2017-02-26 17:55] stdweird commented on #218
what are you trying to test? the `CAF::Path` `_exists` methods are all mocked in `Test::Quattor` (unless there are some old build tools involved. 1.50 should have all required functionality)

[2017-02-26 18:09] jouvin commented on #218
I'll try again but this morning I had a problem with `CAF::Path->file_exists()`...

[2017-02-26 18:18] stdweird commented on #218
just to avoid a mistake @jrha made, `CAF::Path` has to be used as follows:
[code]

[2017-02-26 21:43] jouvin commented on #218
Would be good to have this documented in `CAF::Path` documentation (pod). I looked at this kind of info and didn't find it... This does not mean it is not there but probably in the middle of other things...

[2017-02-26 21:54] jouvin commented on #218
Next question! How do you use it in a package like `pxelinux` where most functions are not methods (no `$self` defined)? I am not sure of the reason why this is like this, probably no good one...

[2017-02-27 01:41] #213 closed

[2017-02-27 09:15] stdweird commented on #218
you can't use it (yet). the mocking uses `MockModule`, so requires instances of classes.

but i'm not sure it is something we should work on. cleaning up AII and making it a proper set of modules/classes (eg logging via `this_app` etc etc) is probably more worthwhile.

[2017-02-27 13:36] stdweird opened #219 "CAF::Reporter struct logging fails on el5 due to missing strict TT mode"
Default TT on el5 (2.18) has no STRICT mode (STRICT mode makes TT render fails when trying to use undefined values in rendering).

I would really like to keep the strict mode for the struct logging, so my question is: can we have this different behaviour between el5 and el6/7.

on el5, you will have message with missing fields, on el6/7 you will have messages that complain that rendering failed (a

[2017-02-27 14:38] jrha commented on #219
I no longer care about EL5 compatibility... @ned21?

[2017-02-28 03:32] ned21 commented on #219
We very much care about EL5 support. :( Different (and less optimal) behaviour on older releases is fine.

[2017-02-28 03:33] #219 closed

[2017-02-28 11:35] jouvin commented on #216
I'm happy to do something is somebody explains me what the obscure statements want to say...

[2017-02-28 11:54] stdweird commented on #216
* `file_exists` tests if something exists and is a file
* broken symlinks aren't files (symlinks pointing to files are considered files)

[2017-02-28 16:33] jouvin opened #222 "CAF::Path documentation: methods should be in alphabetical order or grouped in sections"
As of 16.12, it is difficult to get an idea of what `CAF::Path` does based  on its documentation (and it does many things!). This is due to the fact that the methods appear in fact by logical groups but that these groups are not reflected in the doc structure. May be an additional level of headings, index in the table of contents could help.

[2017-03-01 10:00] msmark opened #223 "CAF::FileWriter Can't call method "can" on unblessed reference at line 353"
As reported in https://github.com/quattor/configuration-modules-core/pull/1036#issuecomment-283085607, getting the following error in a Jenkins run:

[code]

[2017-03-04 18:51] jouvin commented on #218
After @stdweird explanation, everything works as expected!

[2017-03-04 18:51] #218 closed

[2017-03-05 21:35] jouvin commented on #161
@stdweird it seems to be my usual "mistake" of using `mvn` without `clean`. Obviously, as the tests create files, depending on the situation at the beginning of the test, the result may be different... To fix this, we should may be use a temporary directory created by `mktemp` instead of `target/test/check`.

[2017-03-06 07:10] jouvin commented on #161
I personnally think that running clean should not be a requirement...

[2017-03-06 13:25] jrha commented on #161
agreed

[2017-03-08 07:31] jouvin commented on #69
Closing this issue after https://github.com/quattor/CAF/issues/142 and https://github.com/quattor/CAF/issues/255.

[2017-03-08 07:31] #69 closed

[2017-03-17 05:50] #161 closed

[2017-03-17 05:50] #217 closed

[2017-03-17 05:52] #210 closed

[2017-03-22 08:45] jouvin commented on #148
March 17 workshop: [Fille::Atomic-based](https://github.com/quattor/CAF/pull/202) FileWriter should fix it. Must be tested.

[2017-03-29 15:42] #148 closed

[2017-03-29 15:42] #189 closed

[2017-03-29 15:42] #223 closed

[2017-03-29 15:51] #200 closed

[2017-03-29 16:56] jouvin opened #232 "filewriter_notmocked.t fails on SL6"
CAF test `filewriter_notmocked.t` fails on SL6 with the following error:
[code]
Probably a `perl-File-AtomicWrite` version issue (`template` word not present in the message)

[2017-03-29 16:59] stdweird commented on #232
or rather the `File::Temp` dependency. i'll try on el5 and see what the message is there. this is blcking for 17.3 for build-all-repos

[2017-03-30 09:21] #232 closed

[2017-03-30 09:23] stdweird opened #234 "Unittests on el5 fail due to perl warnings"
e.g.
[code]

[2017-03-30 09:23] stdweird commented on #234
Should be fixed before the release, but i don't consider it blocking for an rc. and it is only on el5.

[2017-03-31 07:20] stdweird opened #236 "FileWriter: confusing same message with `cancel` and `close` with save=0"
both cases report same message with verbose level

[2017-03-31 09:51] #234 closed

[2017-04-03 08:23] stdweird opened #237 "CAF::FileEditor from source broken"
The diff from FileEditor with source is broken; regular close for FileEditor works by accident (it rereads the original contents). All thanks to typo.

[2017-04-03 08:23] stdweird commented on #237
@jrha needless to say, blocking for 17.3

[2017-04-03 09:05] stdweird commented on #237
the issue is much more severe than just a typo. it is a misinterpretation what `source` means. expect a PR soonish

[2017-04-03 10:40] jrha commented on #237
:persevere:

[2017-04-05 12:17] stdweird opened #239 "CAF::FileWriter: reported diff does not end up in verbose logfile"
Could be an issue with `CAF::Reporter`

[2017-04-05 12:24] stdweird commented on #239
only when `--verbose` is used, not when `verbose_logfile` is true.

[2017-04-06 14:04] #236 closed

[2017-04-06 14:04] #237 closed

[2017-04-06 14:04] #239 closed

[2017-04-10 18:24] stdweird opened #241 "CAF::FileWriter default permissions"
looks like with new FileWriter, the default permissions are changed from `644` to `600`.

help is appreciated to point where exactly the old permissions were set.

[2017-04-10 18:25] stdweird commented on #241
@jrha needless to say, this is blocking for a release. new nodes have `/etc/passwd` with `600` and this gives errors like https://access.redhat.com/solutions/2051343

[2017-04-10 19:01] stdweird commented on #241
looks like (undocumented) defaults from LC and AtomicWrite
[code]

[2017-04-10 19:18] stdweird commented on #241
the permissions are set by `File::Temp`, which is used by `File::AtomicWrite`. PR soonish...

[2017-04-11 08:36] jrha commented on #241
:sob:

[2017-04-11 08:37] stdweird commented on #241
more issues
LC: file: 0664 parentdir 0755
AtomicWrite: file 0600 parentdir 0775

the file perms are easy to fix, but the parentdir not that easy (the 0755 is a LC default builtin).

[2017-04-11 16:31] stdweird opened #242 "CAF/LC default permissions"
Related to #241, it appears that LC permissions are sensitive to `umask`.
We should establish a set of unittests to define the behaviour of `CAF::Path` and `CAF::FileWriter`.

[2017-04-18 16:32] stdweird opened #245 "CAF::Process output that ends up on stdout is not part of logfile with verbose_logfile"

[2017-04-25 09:28] #241 closed

[2017-06-10 10:02] stdweird commented on #115
@jrha @ned21 if no comments, we should just close this

[2017-06-10 10:08] stdweird commented on #143
With new FileWriter and CAF::Path in available, this isn't an issue anymore

[2017-06-10 10:08] #143 closed

[2017-06-10 10:08] stdweird commented on #149
Done in #243

[2017-06-10 10:08] #149 closed

[2017-06-10 10:16] stdweird commented on #157
With the new FileWriter, the atomic rename will fail. errors look like
[code]

The exception is thrown for compatibility reasons, and can only removed if all code moves away from LC::Exception.

There is also no real issue when the write is cancelled instead of closed.

[2017-06-10 10:16] #157 closed

[2017-06-10 10:22] stdweird commented on #185
@ned21 There's now verbose logging on change https://github.com/quattor/CAF/blob/master/src/main/perl/FileWriter.pm#L348 and history is kept (and `ncm-ncd` spits it out (currenlty still only at the end, but i tought there was an issue somewhere to make this history reporting realtime)).

Is this sufficient?

[2017-06-10 10:40] #115 closed

[2017-06-10 10:41] #185 closed

[2017-09-14 11:41] jrha opened #251 "CAF::Service: Consider providing restart-if-running functionality."
Rather than components having to handle this individually, see quattor/configuration-modules-core#1167 for example.

[2017-09-14 11:44] stdweird commented on #251
if it is not implemented by the service, should we bother?
systemd has cond-restart, but i do not know how it handles sysvinit scripts.

[2017-09-14 11:46] jrha commented on #251
Well indeed.

[2017-09-14 17:47] gombasg commented on #251
Well-behaved SysV init scripts should also implement `condrestart`. The information about which service supports which action should live in OS-specific templates, not in the components. What CAF::Service could do is accept a mapping between requested actions to supported actions; template code could then describe that "well, you may only want to reload the configuration, but the version shipped b

[2017-10-25 15:12] jrha commented on #251
Discussed at RAL workshop: agreed to add support for `condrestart` but not work around any lack of functionality for SysV init scripts - up to admins to understand if the underlying service support it or not.

[2017-11-08 13:29] alvarosimon opened #253 "CAF::Process: Include an option to execute the command as an specific user"
It would be nice to include a new option within `%opt`    to execute the command as an specific user instead of root.
Maybe `$opts{user}`    for example.

[2017-11-08 13:32] alvarosimon opened #254 "CAF::Process: Include sensitive option"
Sometimes you need to execute a command that includes a password for example. This is quite sensitive and we should avoid to show the command from the logs.

We can avoid this if we include an `sensitive`   option within ` %opts`    in these cases. If the option is set then CAF::Process does not show the sensitive command from the log.

[2017-11-09 09:13] stdweird opened #255 "CAF::Process supports shell option"
currently, `CAF::Process` support the `LC::Process` shell `option` (ie assume there's only one element in the command list, and run it as is (incl lack of protection again shell-isms).
we should eitehr document it or remove it. i'm in favour of removing it, but it goes against the 'should allow to shoot yourself in the foot` principle (also known as `CAF devs shouldn't pretend to know it all` :win

[2017-11-09 10:59] ned21 commented on #254
I think you can achieve this already by not setting the `log` option in `%otps` ? Or explicitly setting it to `undef`? (Obviously accompanied by a comment to say why logging has deliberately been disabled!)

[2017-11-09 11:08] stdweird commented on #254
@ned21 i tought about it, but it's a bit drastic imho.
if we would start supporting history in `CAF::process` (eg for auditing/tracing), that would make it impossible.
and i'd rather make `sensitive` an option that is support/known in all of CAF (like `keeps_state`).

[2017-11-09 11:30] ned21 commented on #254
OK, so this would allow everything else to be logged but except for the command line which makes sense. Going one step further, ideally we would only redact the argument that was sensitive.  How difficult would it be to able to nominate 1 or more elements of the command array to be replaced in the log output?

[2017-11-09 12:12] stdweird commented on #254
currently sensitive is a boolean, but we could add a new option `redact` (a compiled regex pattern) that does search and replace with `***` in the logs (or all logs) or an index.

we could also wrap the sensitive bit in an arrayref, eg `$cmd = [qw(set passwd user), [$password]]`
to detect the not to be reported portions?

[2017-11-09 17:54] ned21 commented on #254
Sounds good. So let's go with the boolean for now and we can always add the redact later.

[2017-11-24 22:34] #254 closed

[2017-11-28 09:07] stdweird opened #259 "Filewriter: modify permissions when content is unmodified"
Currently when the content is unmodified, other changes like owner/mode are not forced to the file.
I propose to fix this and report any changes to owner and/or mode also as a changed file on close.

[2017-11-28 09:08] stdweird commented on #259
@jrha @ned21 feedback pls...

[2017-11-28 09:48] jrha commented on #259
Well it sounds like the write thing to do.

[2017-11-28 21:25] ned21 commented on #259
+1 from me

[2017-12-01 14:08] stdweird opened #261 "Problems with #258"
Need to revisit #258, it seems to cause some issues.

[2017-12-01 14:37] jrha commented on #261
Can you list the issues in this issue?

[2017-12-01 21:14] stdweird commented on #261
I mixed 2 different issues, none of which have anything to do with that PR.

sorry for the noise

[2017-12-01 21:14] #261 closed

[2017-12-06 09:56] #259 closed

[2018-01-02 13:50] jrha commented on #253
Milestone moved to match PR.

[2018-01-25 16:39] jrha commented on #123
Resolved by #151.

[2018-01-25 16:39] #123 closed

[2018-04-25 13:25] jouvin commented on #255
LAL workshop: first step, throw a deprecation warning and at the next workshop, decide to remove the support.

[2018-04-25 13:28] stdweird commented on #242
Agree to add unittests and not rely on umask

[2018-07-02 10:43] jrha commented on #255
N.B. ncm-filecopy appears to use `shell => 1` for restart commands.

[2018-07-02 10:50] jouvin commented on #255
Exactly, at least `ncm-filecopy` makes use of it. This seems difficult to remove it, except if we tokenize the command given for the `restart` property in `filecopy`. The goal of the deprecation warning was to better identify all the circumstances where a shell is used. I'm afraid that there is a couple of grid components also rely on this feature but I don't remember precisely.

[2018-07-02 10:58] jrha commented on #255
AFAICT it's only `ncm-glitestartup`

[2018-07-03 11:47] jrha commented on #255
As discussed we need a migration strategy for (at least) filecopy that does not place a burden on sites when upgrading.

[2018-10-05 10:27] jrha commented on #255
No consensus yet, hopefully we can **discuss at workshop**.

[2018-10-29 11:20] jrha commented on #255
Discussed at workshop, an option to reduce usage of subshell in filecopy would be to allow a list (or list of lists) of command + arguments for the restart command.

[2018-11-07 09:02] wdpypere opened #269 "CAF::FileWriter TODO from pod - drop LC::*"
there was a todo in the pod file. it stated:
[code]

[2019-11-21 12:42] gombasg opened #271 "CAF::FileWriter should use external diff command for large files"
We've just run into an issue with the AII dhcp plugin, where Text::Diff, invoked by CAF::FileWriter, took almost 3 hours to compute just a few lines worth of diff. Since Text::Diff is declared to be slow on large files, it would be better to call an external diff command if the inputs are large (e.g., more than 1000 lines).

Currently, the diff is computed even if it is then not going to be logged

[2019-12-05 14:05] jrha opened #272 "CAF::Process allow environment to be specified"
Prompted by https://github.com/quattor/configuration-modules-core/pull/1383/commits/f28a2140a8afaf67acbc737cad15de1fe84d0c78.